version: '3.8'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.prod
    image: excel-reader:local
    ports:
      - "8081:8080"
    environment:
      - FLASK_ENV=production
    volumes:
      - ./uploads:/app/uploads
